<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="admin/header.html"></th:block>

	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<form action="/admin/category/update" method="post"
					th:object="${catObject}" enctype="multipart/form-data">
					<div class="mb-3 mt-3">
						<label for="cname" class="form-label">Category Name:</label> <input
							type="text" class="form-control" th:field="*{categoryname}">
					</div>
					<div class="mb-3">
						<label for="image" class="form-label">Upload a image:</label> <input
							type="file" class="form-control" name="image">
					</div>
					<div class="form-check mb-3">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" name="status"
							th:checked="${catObject.status == 1}" value="1"> Category show
						</label>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<input type="hidden" th:field="*{cid}">
				</form>

			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<th:block th:insert="admin/footer.html"></th:block>

</body>
</html>