<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="admin/header.html"></th:block>

	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<form action="/admin/inventory/update" th:object="${invObject}" method="post"
					enctype="multipart/form-data">

					<div class="mb-3 mt-3">
						<label for="cname" class="form-label">Inventory Name:</label> <input
							type="text" class="form-control" th:field="*{invname}">
					</div>
					<div class="mb-3">
						<label for="product" class="form-label">Product:</label> <select
							disabled="disabled" class="form-select" name="id">
							<option>Select</option>
							<option th:each="p:${prodList}" th:if="${p.status == 1}"
								th:value="${p.id}">[[${p.productname}]]</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="image" class="form-label">Upload a image:</label> <input
							type="file" class="form-control" name="image">
					</div>
					<div class="mb-3 mt-3">
						<label for="sell" class="form-label">Selling Price:</label> <input
							type="number" class="form-control" readonly="readonly" th:field="*{sellprice}">
					</div>
					<div class="mb-3 mt-3">
						<label for="cname" class="form-label">Cost Price:</label> <input
							type="number" class="form-control" readonly="readonly" th:field="*{costprice}">
					</div>
					<div class="mb-3 mt-3">
						<label for="cname" class="form-label">Quantity:</label> <input
							type="number" class="form-control" readonly="readonly" th:field="*{quantity}">
					</div>
					<div class="form-check mb-3">
						<label class="form-check-label"> <input
							class="form-check-input" type="checkbox" th:checked="${invObject.status == 1}" name="status" value="1">
							Inventory show
						</label>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<input type="hidden" th:field="*{invid}">
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<th:block th:insert="admin/footer.html"></th:block>
</body>
</html>