<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="admin/header.html"></th:block>

	<div class="container mt-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>S.no.</th>
					<th>Product Name</th>
					<th>Category</th>
					<th>Added Date</th>
					<th>Image</th>
					<th>Status</th>
					<th>Action</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productList}">
					<td th:text="${product.id}"></td>
					<td th:text="${product.productname}"></td>
					<td th:text="${product.category.categoryname}"></td>
					<td th:text="${product.addedDate}"></td>
					<td><img th:src="@{'/images/' + ${product.photo}}" alt="prod Photo"
						width="50" height="50"></td>
					<td><span th:if="${product.status == 1}">Active</span> <span
						th:if="${product.status == 0}">Inactive</span></td>
					<td><a
						th:href="@{/admin/product/edit(id=${product.id})}"><input
							type="submit" value="Edit" class="btn btn-success"></a></td>
					<td> <a th:href="@{/admin/product/delete(id=${product.id})}" onclick="return confirm('Are you sure you want to delete?')"><input type="submit" value="Delete" class="btn btn-danger"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<th:block th:insert="admin/footer.html"></th:block>
</body>
</html>